* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Helvetica;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.site-header {
    background-color: aqua;
    color: rgb(251, 251, 251);
    padding: 1rem 0;
    text-align: center;
}

.nav-list {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.site-title {
    margin-bottom: 10px;
    font-size: 2em;
}

.main-nav .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
}